dst.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dst" type="dstType"/>
  <xs:complexType name="dataDstType">
    <xs:sequence>
      <xs:element type="xs:string" name="dstname"/>
      <xs:element type="xs:string" name="dstdesc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dstType">
    <xs:sequence>
      <xs:element type="dataDstType" name="dataDst"/>
      <xs:element type="xs:string" name="dstcnt"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>