dumpster/dst.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dst">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dataDst">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dstname">
								<xs:complexType/>
							</xs:element>
							<xs:element name="dstdesc">
								<xs:complexType/>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dstcnt">
					<xs:complexType/>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
