dumpster/src.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="src">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dataSrc">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="desc" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="type" use="required" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="content" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
