demo/old/output/demo_json_to_xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hdps" type="hdpsType"/>
  <xs:complexType name="alType">
    <xs:sequence>
      <xs:element type="xs:int" name="diagnosticDate"/>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="label"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pidType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="address"/>
      <xs:element type="xs:string" name="gender"/>
      <xs:element type="xs:int" name="birthDate"/>
      <xs:element type="xs:int" name="deceasedDate"/>
      <xs:element type="xs:long" name="code"/>
      <xs:element type="xs:string" name="firstName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hdpsType">
    <xs:sequence>
      <xs:element type="alType" name="al" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="obxType" name="obx"/>
      <xs:element type="xs:string" name="sourceUid"/>
      <xs:element type="pidType" name="pid"/>
      <xs:element type="xs:string" name="messageType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obxType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="resultUid"/>
      <xs:element type="xs:int" name="examDate"/>
      <xs:element type="xs:float" name="valueReference"/>
      <xs:element type="xs:string" name="unitLabel"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>